<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Details</title>
    <link rel="stylesheet" href="/detailstyles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="profileContainer">

      <div class="profileTop">
        <img class="profileImage" src="{{avatar}}"/>
        <div class="profileContact">
          <h1>{{name}}</h1>
          <p>
            {{#address.country}}
              {{address.city}}, {{address.country}}
            {{/address.country}}
            {{^address.country}}
            {{/address.country}}
            |
            {{#job}}
              <span>{{job}}, {{company}}</span>
            {{/job}}
            {{^job}}
              <span class="jobless">Available for Hire!</span>
            {{/job}}
          </p>
        </div>
      </div>

      <div class="profileBottom">
        {{#university}}
        <div class="education">
          <div class="edTitle">Education</div>
          <div class="edInfo">{{university}}</div>
        </div>
        {{/university}}
        <div class="skills">
          <div class="skillsTitle">Skills</div>
          <div class="skillsInfo">
            {{#skills}}
            <div>{{.}}</div>
            {{/skills}}
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
